.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f6fbff;

  height: 100vh;

  > div {

    min-width: 30%;
    min-height: 30%;

    background: white;

    border: 5px solid #e1f3ff;
    border-radius: 25px;

    > form {
      display: flex;
      flex-direction: column;

      margin: 25px;

      > *:not(:last-child) {
        margin-bottom: 20px;
      }

      > button {
        height: 50px;
      }
    }
  }
}
