.wrapper {
  margin: 50px 25px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .line {
    cursor: pointer;

    &:hover {
      background: #f6fbff;
    }
  }

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
